/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  height: 550px;
  background-color: #0c325a;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

footer {
  background-color: #17416b;
  height: 300px;
}

.clearflix:after {
  content: '';
  clear: both;
  display: table;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-width: 1400px;
}

.container-full {
  width: 100%;
  margin: 0 auto;
  min-width: 1400px;
  padding: 0 5%;
}

/* Color */
.gray {
  background-color: #d3d3d3;
  height: 150px;
  line-height: 150px;
}

.blue {
  background-color: #0c3259;
  height: 350px;
  color: #ffffff;
}

.blue-small {
  background-color: #0c3259;
  height: 150px;
  color: #ffffff;
}

.heavenly {
  color: #95caf6;
}

.orange {
  color: #fca500;
}

.green {
  color: #80b600;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Font */
.float-left {
  float: left;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  font-size: 1em;
  color: gray;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  color: #7cbb04;
}

h4 {
  font-size: 1.8em;
  text-align: left;
}

h5 {
  font-size: 1.2em;
  text-align: left;
}
 
h6 {
  font-size: 1em;
  text-align: left;
  color: #ffffff;
  font-weight: 600;
  margin: 20px 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  font-weight: 100;
}

hr {
  color: gray;
  margin: 0 20px;
}

.menu ul {
  display: inline-block;
}

.menu > li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.menu > li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 70px;
}

i {
  color: #0f59a2;
  margin: 20px 0;
}

/* Menu di navigazione */
.logo {
  margin-top: 15px;
}

.menu-left {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: right;
}

.menu-left ul li {
  list-style: none;
  display: inline-block;
}

.menu-left ul {
  list-style: none;
  display: inline-block;
}

.menu-footer li {
  margin: 10px 0;
  list-style: none;
  text-align: left;
}

.menu-footer li a {
  text-decoration: none;
  color: gray;
  font-weight: 300;
  font-size: 1em;
}

.menu-footer li a:hover {
  color: #ffffff;
}

.list-company li {
  color: gray;
  list-style: none;
  text-align: right;
  margin: 2px 0;
  font-weight: 300;
}

.company {
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 600;
}

.company + p {
  text-align: right;
  color: #ffffff;
  font-weight: 600;
  margin: 20px 0;
}

/* Slider  */
.banner {
  position: relative;
}

.jumbotron {
  margin-left: 50px;
  position: absolute;
  top: 225px;
  left: 0;
}

.jumbotron p {
  text-align: left;
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 20px;
}

.slogan {
  font-weight: 500;
}

/* button  */
.btn {
  background-color: #7cbb04;
  border: 1px solid #7cbb04;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn-large {
  background-color: #7cbb04;
  padding: 20px;
  width: 240px;
  border-radius: 8px;
  line-height: 20px;
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-border {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn-top {
  background-color: #7cbb04;
  border: 1px solid #7cbb04;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

.btn-large:hover, .btn-top:hover {
  background-color: #ffffff;
  color: #000000;
}

/* layout */
.row-1, .row-2 {
  overflow: hidden;
}

.col-1 {
  width: 15%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 40%;
}

.box {
  padding: 40px;
}

.box-50 {
  width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.box-25 {
  width: 440px;
  margin: 0 15%;
  text-align: left;
  padding: 20px 0;
}

.box-3x {
  width: 280px;
  margin: 60px auto;
  text-align: left;
  display: inline-block;
  padding: 10px;
}

.px-40 {
  padding: 0 40px;
}

/* elementi del main */
.banner-text {
  background-color: #d3d3d3;
  padding: 40px;
}

img.small {
  width: 120px;
  height: 120px;
  margin: 20px;
}

img.big {
  width: 150px;
  height: 120px;
  margin: 20px;
}

.row-2 img {
  width: 480px;
}

.img-full {
  width: 800px;
  margin: 60px auto;
}

.line {
  border-bottom: 1px solid gray;
  width: 60px;
  height: 30px;
  margin: 0 auto 30px;
}

.text-description {
  height: 80px;
  line-height: 40px;
  position: relative;
}

/* .text-description:after {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 1px;
  display: block;
  background-color: gray;
  content:'';
} */

.title-plane {
  margin-top: 30px;
}

.title-test {
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  margin: 20px 0;
}

.sub-headline {
  font-weight: 300;
  font-size: 0.9em;
  margin: 20px 0;
}

.title-cta {
  text-align: left;
  font-weight: 300;
  font-size: 1em;
}

/* elementi del footer */
.title-footer {
  text-align: left;
  font-weight: 500;
  font-size: 1.5em;
}

.cta-plane {
  text-align: right;
}

select {
  color: gray;
  border: none;
  border-bottom: 1px solid gray;
  width: 150px;
  background: transparent;
}

label {
  color: gray;
  margin-right: 30px;
}

/* line */
.line-heavenly {
  margin: 20px 0;
  background-color: #95caf6;
  height: 7px;
}

.line-orange {
  margin: 20px 0;
  background-color: #fca500;
  height: 7px;
}

.line-green {
  margin: 20px 0;
  background-color: #80b600;
  height: 7px;
}

/* chat */
.help {
  position: fixed;
  bottom: 0;
  right: 10%;
  height: 40px;
  width: 80px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: -5px;
}