/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  height: 550px;
  background-color: #0c325a;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

main {
}

footer {
  background-color: #d3d3d3;
  height: 120px;
  line-height: 120px;
}

.clearflix_after {
  content: '';
  clear: both;
  display: table;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-width: 1400px;
}

/* Font */
.float-left {
  float: left;
}

h3 {
  color: #7cbb04;
}

h4 {
  font-size: 1.5em;
  text-align: left;
}

p {
  font-size: 1em;
  font-weight: 100;
}

hr {
  color: gray;
  margin: 0 20px;
}

ul {
  display: inline-block;
}

ul li{
  display: inline-block;
  list-style: none;
  padding: 5px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 70px;
}

/* Menu di navigazione */
.logo {
  margin-top: 15px;
}

.menu-left {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: right;
}

.menu-left ul li {
  list-style: none;
  display: inline-block;
}

.menu-left ul {
  list-style: none;
  display: inline-block;
}

/* Slider  */
.banner {
  position: relative;
}

.jumbotron {
  margin-left: 50px;
  position: absolute;
  top: 225px;
  left: 0;
}

.jumbotron p {
  text-align: left;
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 20px;
}

.slogan {
  font-weight: 500;
}

/* button  */
.btn {
  background-color: #7cbb04;
  border: 1px solid #7cbb04;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn-large {
  background-color: #7cbb04;
  padding: 20px;
  width: 240px;
  border-radius: 8px;
  line-height: 20px;
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-border {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.btn-top {
  background-color: #7cbb04;
  border: 1px solid #7cbb04;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  line-height: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* layout */
.row-1, .row-2 {
  overflow: hidden;
  vertical-align: middle;
}

.col-1 {
  width: 15%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 40%;
}

.small {
  width: 120px;
  height: 120px;
  margin: 20px;
}

.big {
  width: 150px;
  height: 120px;
  margin: 20px;
}

.row-2 img {
  height: 480px;
}

.banner-text {
  background-color: #d3d3d3;
  padding: 40px;
}

.line {
  border-bottom: 1px solid gray;
  width: 60px;
  height: 30px;
  margin: 0 auto 30px;
}

.box {
  padding: 30px;
}

.title-footer {
  text-align: left;
  font-weight: 500;
  font-size: 1.5em;
}

.title-plane {
  margin-top: 30px;
}

.title-test {
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  margin: 20px 0;
}

.title-cta {
  text-align: left;
  font-weight: 300;
  font-size: 1em;
}

.cta-plane {
  margin: 30px 0;
}


/* Reset select  */
select {
  color: gray;
  border: none;
  border-bottom: 1px solid gray;
  width: 150px;
  background: transparent;
}

label {
  color: gray;
  margin-right: 30px;
}

.help {
  position: fixed;
  bottom: 0;
  right: 10%;
  height: 40px;
  width: 80px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: -5px;
}